*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header */
header {
    width: 100%;
    padding: 25px 10px;
  }

  .list{
      list-style: none;
      display: inline;
      padding: 20px;
  }

  a{
      color: black;
      text-decoration: none;
      cursor: pointer;
  }

  .logo {
      width: 100px;
  }


/* footer */
footer ul li {
    list-style: none;
}

 form .email{
    width: 100%;
    height: 30px;
    border: solid 1px black;
    border-radius: 3px;
    margin-top: 10px;
  }

  form .sing-up{
    height: 30px;
        margin: 30px;
        border-radius: 3px;
        border-style: none;
        cursor: pointer;
        background-color: orange;
        color: white;
        text-align: center;
  }
  
  

footer{
    background-color: black;
    color: white;
    padding: 50px;
}

.copy{
    margin-top: 2%;
    background-color:rgb(3, 35, 65);
}